body{
	font-family: 'PT Sans Narrow', sans-serif;
	margin: 0;
}
.Ldesign{
	background-color: cornsilk;
	color: #000742;
}
.Bdesign{
	background-color: #242424;
	color: cornsilk;
}
#togglebutton{
	margin: 1.5% 1.5% 0%; padding: 0.2% 1.5%; border-radius: 5px; cursor: pointer; border:none;
}
.Ldesign #togglebutton{
	background-color: #242424;
	color: cornsilk;
	-webkit-box-shadow: 1px 0px 10px 4px #242424;
	-moz-box-shadow:    1px 0px 10px 4px #242424;
	box-shadow:         1px 0px 10px 4px #242424;
}
.Bdesign #togglebutton{
	background-color: cornsilk;
	color: #000742;
	-webkit-box-shadow: 1px 0px 10px 4px cornsilk;
	-moz-box-shadow:    1px 0px 10px 4px cornsilk;
	box-shadow:         1px 0px 10px 4px cornsilk;
}
nav{
	padding: 0.5% 0%;
	margin-bottom: 0;
	width: 100%;
}
.Ldesign nav{
	background-color:#242424;
	color:cornsilk;
}
.Bdesign nav{
	background-color:cornsilk;
	color:#242424;
}
nav ul{
	font-size: 1.2rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0%;
	padding-left: 0;
}
nav ul li{
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
}
.Ldesign nav ul li{
	background-color:cornsilk;
}
.Ldesign nav ul li a{color: #242424;}
.Ldesign nav ul li, .Ldesign header ul li{
	border: 2px solid #242424; margin:1%;
	padding: 0.3vw 1.5vw;
}
.Bdesign nav ul li{
	background-color:#242424;
}
.Bdesign nav ul li a{color: cornsilk;}
.Bdesign nav ul li, .Bdesign header ul li{
	border: 2px solid cornsilk; margin:1%;
	padding: 0.3vw 1.5vw;
}

nav ul li a{text-decoration: none;}
header h1{
	margin-top: 3%;
	width: auto; font-weight: bold;
	text-align: center;
}
header p{
	font-size: 1.3rem;
	text-align: center;
	width: 90%;
	margin: 1% auto;
}
header > ul{
 	padding-left: 0px;
 	font-size: 1.2rem;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
header span{
	text-decoration: underline;
	font-weight: bold;
	color: blue;
	display: block;
	text-align: center;
	font-size: 1.1rem;
}
hr{
	width: 85%;
	margin-top: 2%;
}
.Ldesign hr{
	border-top: 2px solid #242424;
}
.Bdesign hr{
	border-top: 2px solid cornsilk;
}
.Ldesign table, .Bdesign table{
margin-bottom: 20px;
}
.Ldesign table, .Ldesign th, .Ldesign tr, .Ldesign td {
  	border: 1px solid #242424;
  	border-collapse: collapse;
}
.Bdesign table, .Bdesign th, .Bdesign tr, .Bdesign td {
  	border: 1px solid cornsilk;
  	border-collapse: collapse;
}
th{font-weight: bold;}
th, td{ 
	font-size: 1.2rem;
	padding: 2% 15vw;

}
th, td a{color: #242424;}
tr:nth-child(even){
	background-color: #a9a9a9;
}
tr:nth-child(odd){
	background-color: cornsilk;
}
table a{text-decoration: none;}
.Ldesign td:hover{background-color:#242424; text-decoration: underline;}
.Ldesign table a:hover{
	 color:cornsilk;
}
.Bdesign td:hover{background-color:#242424; text-decoration: underline;}
.Bdesign table a:hover{
	 color:#242424;
}
.Bdesign table a:hover{color: cornsilk; }
.tablecontent{
	width: auto;
	margin: auto;
	margin-top: 3%;
	text-align: center;
}
.tablecontent tr td{font-size: 1.3rem;}
.sectionname{
	margin: 2.5% auto; width: auto; text-align: center; margin-left: -25px;
	font-size: 27px;
}
.Ldesign .sectionname{
	background-image: radial-gradient(transparent 30%, #242424 80%);
}
.Bdesign .sectionname{
	background-image: radial-gradient(transparent 30%, cornsilk 80%);
}
section{
	margin: 2% auto;
	display: grid;
	grid-gap: 3%;
	align-items: center;
	justify-content: center;
	width: 90%;
	grid-auto-rows: auto;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	font-weight: bold;
}
.Ldesign section .divpic{
	border:2px solid #242424;
}
.Bdesign section .divpic{
	border:2px solid cornsilk;
}
section .divpic{
	padding-bottom: 0;
	grid-template-rows: 1/-1;
	top:0;
}
.Ldesign section .divdescribe{
	border:2px solid #242424;
}
.Bdesign section .divdescribe{
	border:2px solid #242424;
	background-color: cornsilk;
	color: #242424;
}
section .divdescribe{
	padding: 2%;
	font-size: 1.25rem; 
	overflow: hidden;
}
.Ldesign section .divdescribe span{
	font-weight: bold;
	color: blue;
}
.Bdesign section .divdescribe span{
	font-weight: bold;
	color: blue;
}
section h1{
	margin: 3%;
}
footer{
	padding: 2%; margin-top: 2%; 
}
.Ldesign footer{
	border-top: 2px solid #242424;
}
.Bdesign footer{
	border-top: 2px solid cornsilk;
	}
footer p{
	text-align: center;
	font-size: 18px;
}
footer hr{
	width: 40%;
	margin: 1% auto;
}
/*Create Account Page*/
.reg{
	border:2px solid black;
	border-radius: 3px;
	margin: 2% auto;
	width: 60%;
	padding: 2% 2% 20px;
	text-align: center;
	font-size: 1.1rem;
	font-weight: bold;
}
.Ldesign .reg{
	background-color: #242424;
	color: cornsilk;
}
.Bdesign .reg{
	background-color: cornsilk;
	color: #242424;
}
.reg input{
	margin: 0% auto;
	width: 180px;
}
/*Current Events Page*/
.tble{width: 75%;}
.Ldesign .tble th{background-color: #242424; color: cornsilk; width: 40%;}
.Ldesign .tble tr, .Ldesign .tble td{
	border:none;
	background-color:cornsilk; 
}
.Bdesign .tble th{background-color: cornsilk; color: #242424; width: 100%;}
.Bdesign .tble tr, .Bdesign .tble td{
	border:none;
	background-color:#242424; 
}
/*reomve the hover color from .tablecontent class*/
.tble td:hover{background-color: transparent; text-decoration: none;}
/*search*/
.search{
	overflow: auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 80%;
	margin: auto;
}
.Ldesign .search{
	border: 2px solid #242424;
	background-color: white;
}
.Bdesign .search{
	background-color: #242424;
	border: 2px solid cornsilk;
}
.search input[type="text"]{
	border: 0px;
	width: 67%;
	padding: 10px 10px;
}
.Ldesign input[type="text"]{
	background-color: white;
}
.Bdesign input[type="text"]{
	background-color: #242424;
}
.search input[type="text"]:focus{
	outline: 0;
}

.search input[type="submit"]{
	border: 0px;
	background: none;
	float: right;
	padding: 10px;
	border-radius-top-right: 5px;
	-moz-border-radius-top-right: 5px;
	-webkit-border-radius-top-right: 5px;
	border-radius-bottom-right: 5px;
	-moz-border-radius-bottom-right: 5px;
	-webkit-border-radius-bottom-right: 5px;
       cursor:pointer;
}
.Ldesign .search input[type="submit"]{
	background-color: #242424;
	border-left: 2px solid #242424;
	color: cornsilk;
}
.Bdesign .search input[type="submit"]{
	background-color: cornsilk;
	border-left: 2px solid #242424;
	color: #242424;
}

/*sorted ul:*/
.sortbtn{
	width: auto; margin: 3% 42% 3%;
	padding: 0.5% 7%; border-radius: 5px; cursor: pointer; border:none;
}
.Ldesign .sortbtn{
	background-color: #242424;
	color: cornsilk;
	-webkit-box-shadow: 1px 0px 10px 4px #242424;
	-moz-box-shadow:    1px 0px 10px 4px #242424;
	box-shadow:         1px 0px 10px 4px #242424;
}
.Bdesign .sortbtn{
	background-color: cornsilk;
	color: #000742;
	-webkit-box-shadow: 1px 0px 10px 4px cornsilk;
	-moz-box-shadow:    1px 0px 10px 4px cornsilk;
	box-shadow:         1px 0px 10px 4px cornsilk;
}
#id01{
	width: auto;
	margin: auto;
	padding-left: 0;
	margin-top: 3%;
	text-align: center;
	list-style: none;
	width: 70%;
}
#id01 a{
	padding: 2% 0%;
	border:2px solid #242424;
}

.Ldesign #id01 a{
	background-color: #242424;
	color: cornsilk;
}
.Bdesign #id01 a{
	background-color: cornsilk;
	color: #242424;
}
#id01  a{font-size: 1.3rem; text-decoration: none;}

.Ldesign #id01 a:hover{background-color:cornsilk;color:#242424; text-decoration: underline;}

.Bdesign #id01 a:hover{background-color:#242424; text-decoration: underline;color:cornsilk; border:2px solid cornsilk;}

/*  Medua Query for Search Box */

@media only screen and (min-width : 150px) and (max-width : 780px)
{
	{}
	.search{
		width: 95%;
		margin: 0 auto;
	}
	.sortbtn{
	width: auto; margin: 3% 40% 3%; padding: 1% 8%;
	}
}
/*categories*/
.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
#myBtnContainer{
	width: 84%;
	margin: 0% auto 0%;
	display: flex;
}
.Ldesign #myBtnContainer{
	border:2px solid #242424;
}
.Bdesign #myBtnContainer{
	border:2px solid cornsilk;
}
.btn {
	margin: 0;
  border: none; width: 16.6%;
  outline: none;
  padding: 1% 3%;
  cursor: pointer;
}
.Ldesign .btn {
	background-color: cornsilk;
    color: #242424;
}
.Bdesign .btn {
	background-color: #242424;
    color: cornsilk;
}
.Ldesign .btn:hover {
  background-color: #242424;
  color: cornsilk;
}
.Bdesign .btn:hover {
  background-color: cornsilk;
  color: #242424;
}
.btn.active {
  background-color: #666;
  color: white;
}
.selectdiv{
	color: red;
	display: none;
}
.show {
  display: block;
}
/*search end*/


@media screen and (min-width: 401px) and (max-width: 600px){
	nav ul li{
		font-size: 0.95rem;
	}
	header ul{ margin: 0.8%; padding: 0;}
	.Ldesign header ul li{font-size: 1.4rem;}
	table th, td{ 
	font-size: 0.7rem;
	}
	.secflex{display: flex; align-items: center; justify-content: center;}
	section .divpic{
		background-color: red;
	}
	section{
		grid-template-columns: auto;
	}
	section .divdescribe{
		margin-bottom: 10%;
	}
}
@media screen and (max-width: 400px){

	.sortbtn{
	width: auto; margin: 3% 40% 3%; padding: 1% 8%;
	}
	.reg input{width: 170px;}
	nav ul li{
		font-size: 0.7rem;
	}
	.secflex{display: flex; align-items: center; justify-content: center;}
	section .divdescribe{
		margin-bottom: 10%;
	}
	section{
		grid-template-columns: auto;
	}
}
